.Advant {
  background: rgba(255, 249, 239, 0.5);
}

.Advantages {
  padding: 30px 19px;

  @media screen and (min-width: 768px) {
    padding: 40px 76.5px;
  }

  @media screen and (min-width: 1200px) {
    padding: 60px 0;
  }
}

.Advantages-title {
  margin-bottom: 24px;
  text-align: center;

  color: var(--text, #352d25);

  font-family: Roboto;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.28px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;

    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0.4px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 80px;

    line-height: 150%;
    letter-spacing: 0.8px;
  }
}

.Advantages-list {
  margin-left: 38px;
  margin-right: 38px;

  @media screen and (min-width: 768px) {
    margin-left: 52px;
    margin-right: 52px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-right: 0;

    column-count: 2;
  }
}

.Advantages-item {
  display: flex;
  align-items: center;

  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 24px;
    margin-right: 30px;
  }
}

.Advantages-item:last-child {
  margin-bottom: 0;
}

.Advantages-image {
  margin-right: 10px;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 47px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 32px;

    width: 132px;
    height: 128px;
  }
}

.Advantages-text {
  color: var(--text, #352d25);

  font-family: Roboto;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 120%;

  @media screen and (min-width: 768px) {
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.24px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: 150%;
  }
}

.command__list {
  text-align: -webkit-center;
  margin: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin: -15px;
  }

  .command__item {
    max-width: 100%;
    height: auto;
    width: 480px;

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 480px) {
      @media screen and (min-width: 768px) {
        width: 354px;
        margin: 15px;
        flex-basis: calc((100% - 2 * 30px) / 2);
      }

      @media screen and (min-width: 1200px) {
        width: 270px;
        margin: 15px;
        flex-basis: calc((100% - 4 * 30px) / 4);
      }

      img {
        width: 450px;

        @media screen and (min-width: 480px) {
          width: 480px;
        }

        @media screen and (min-width: 1200px) {
          width: 300px;
        }
      }

      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;

      background: var(--primary-fon-color);
    }
  }
}
