/* section {
  background-color: aquamarine;
} */

.Vector {
  width: 150px;
  height: 75px;
  transform: rotate(0px);
  flex-shrink: 0;
  margin-top: -5px;
}

.About-Vector {
  display: flex;
  justify-content: flex-end;
}

.About {
  margin-top: -17px;
  margin-bottom: 20px;

  text-align: center;
  color: var(--text, #352d25);
  /* H2 mobile */
  font-family: Roboto;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 130%; /* 36.4px */
  letter-spacing: 0.28px;
}

.About-img {
  display: inline-flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 0px 24px 24px 0px;
  border-top: 2px solid var(--amber, #f0e2ca);
  border-right: 2px solid var(--amber, #f0e2ca);
}

.Photo {
  width: 430px;

  flex-shrink: 0;

  border-radius: 24px;
}

.About-item1 {
  margin-bottom: 8px;

  color: #292525;

  /* body mobile 2 */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.14px;
}

.About-item2 {
  margin-bottom: 60px;

  color: #292525;

  /* body mobile 2 */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.14px;
}
